<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog</title>
</head>
<body>
    <div>
      <form style="display:inline-block;" method ="Get" action ="/posts">
        <button>Posts</button>
      </form>
      <form style="display:inline-block;" method="GET" action="/posts/submit">
        <button>Add</button>
      </form>
    </div>
</body>
</html>