<!DOCTYPE html>
<html>
<head>
  <title>posts submit</title>

</head>
<body>
  <h1>This is the submit page</h1>
  <form method='POST' action='/posts/submit' class='form' name='frm'>
    <div>
      <label>Title:</label>
      <br />
      <input class='title' name='title' placeholder='title...' type='text'></input>
    </div>
    <br/>
    <div>
      <label>Description:</label>
      <br />
      <textarea class='description' name='description' placeholder='description...' type='text'></textarea>
    </div>
    <br/>
    <div>
      <label>Email:</label>
      <br />
      <input name='email' placeholder='email...' type='email'></input>
    </div>
    <br/>
    </div>
    <div>
      <button onClick="return IsEmpty();" type='submit'>Submit</button>
    </div>
  </form>
  <script type="text/javascript" src="../public/app.js" async=""></script>
</body>
</html>