<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>This is the submit page</h1>
  <form method='POST' action='/posts/submit'>
    <div>
      <label>Title:</label>
      <br />
      <input name='title' placeholder='title...' type='text'></input>
    </div>
    <br/>
    <div>
      <label>Description:</label>
      <br />
      <textarea name='description' placeholder='description...' type='text'></textarea>
    </div>
    <br/>
    <div>
      <label>Email:</label>
      <br />
      <input name='email' placeholder='email...' type='email'></input>
    </div>
    <br/>
    </div>
    <div>
      <button type='submit'>Submit</button>
    </div>
  </form>
</body>
</html>